@model TypingTest

@{
    ViewData["Title"] = "Results";
}

<h1>Typing Test Results</h1>

<div class="wrapper align-content-center">
    <div class="content-box">

        <h4 class="text-white">Congratulations! You have completed the typing test.</h4>
        <h6 class="text-white">Your results:</h6>

        <div class="content">
            <ul class="result-details">
                <li class="time">
                    <p>
                        Time Spent:
                        <span>
                            @Model.TimeSpentTyping
                        </span>
                    </p>
                </li>
                <li class="mistake">
                    <p>
                        Mistakes:
                        <span>
                            @Model.Mistakes
                        </span>
                    </p>
                </li>
                <li class="wpm">
                    <p>
                        WPM:
                        <span>
                            @Model.WPM
                        </span>
                    </p>
                </li>
            </ul>

            <form class="d-flex" asp-controller="TypingTest" asp-action="TryAgain" method="post">
                <button class="btn btn-secondary my-2" type="submit">Try Again</button>
            </form>
        </div>
    </div>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    #paragraph {
        color: #646669;
    }

    .incorrect {
        color: #ca4754;
        border-radius: 4px;
    }

    .correct {
        color: green;
        border-radius: 4px;
    }

    .typed {
        color: #888; /* Style for already typed words */
    }

    .current {
        font-weight: bold; /* Style for current word being typed */
        color: blue; /* Color for current word */
    }

    .result-details {
        color: white;
    }

    ::selection {
        color: #fff;
        background: #007acc;
    }

    .wrapper {
        width: 700px;
        padding: 35px;
        background: #1e1e1e;
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    }

        .wrapper .input-field {
            opacity: 0;
            z-index: -999;
            position: absolute;
        }

        .wrapper .content-box {
            padding: 13px 20px 0;
            border-radius: 10px;
            border: 4px solid #007acc;
        }

    .content-box .typing-text {
        overflow: hidden;
        max-height: 256px;
    }

    .typing-text::-webkit-scrollbar {
        width: 0;
    }

    .typing-text p {
        font-size: 21px;
        text-align: justify;
        letter-spacing: 1px;
        word-break: break-all;
    }

        .typing-text p span {
            position: relative;
        }

            .typing-text p span.correct {
                color: #d1d0c5;
            }

            .typing-text p span.incorrect {
                color: #ca4754;
                border-radius: 4px;
            }

            .typing-text p span.active::before {
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                bottom: 0;
                left: 0;
                opacity: 0;
                border-radius: 5px;
                background: #007acc;
                animation: blink 1s ease-in-out infinite;
            }

    .content-box .content {
        margin-top: 17px;
        display: flex;
        padding: 12px 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .content button {
        outline: none;
        border: none;
        width: 105px;
        color: #007acc;
        padding: 8px 0;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
        border-radius: 15px;
        border: 3px solid #007acc;
        background: none;
        transition: transform 0.2s ease;
    }

        .content button:active {
            transform: scale(0.89);
        }

        .content button:hover {
            background: #FFFFFF;
        }

    .content .result-details {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: calc(100% - 140px);
        justify-content: space-between;
    }

    .result-details li {
        display: flex;
        height: 20px;
        list-style: none;
        position: relative;
        align-items: center;
    }

        .result-details li:not(:first-child) {
            padding-left: 22px;
            border-left: 2px solid #bfbfbf;
        }

        .result-details li p {
            font-size: 13px;
        }

        .result-details li span {
            display: block;
            font-size: 13px;
            margin-left: 10px;
        }

    li span b {
        font-weight: 500;
    }

    li:not(:first-child) span {
        font-weight: 500;
    }
</style>