@model IEnumerable<Game>

@{
	ViewData["Title"] = "Home Page";
}
<br />
<table class="table table-hover" align="center" style="margin-bottom:0px; width:700px">
	<tr class="table-info text-center">
		<th class="text-dark" scope="row" width="50%">Game</th>
		<th class="text-dark" scope="row" width="50%">Description</th>
	</tr>
</table>
@foreach (Game g in Model)
{
	<partial name="_GamePartialView.cshtml" for="@g" />
}