@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<br />
	<h1 class="display-4">Welcome</h1>
	<hr />
	<table class="table table-hover" width="400px">
		<tr class="table-dark" style="width:400px">
			<th scope="row" width="50%" align="center">Game</th>
			<td scope="row" width="50%" align="center">Description</td>
		</tr>
		<tr class="table-primary">
			<th width="50%">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Tic_tac_toe.svg/1200px-Tic_tac_toe.svg.png" width="200" />
			</th>
			<th>Tic Tac Toe is a classic two player game where the goal is to get three in a row!</th>
		</tr>
	</table>
</div>
